.reviews {
  margin-top: 150px;

  .wrapper {
    margin-top: 50px;
    cursor: grab;

    .box {
      background: var(--container-color);
      padding: 20px;
      border-radius: 15px;
      overflow: hidden;
      position: relative;
      margin-bottom: 70px;

      .img {
        position: relative;
        border-radius: inherit;
        height: 200px;

        img {
          border-radius: inherit;
        }

        .mark {
          position: absolute;
          top: -10px;
          left: -10px;
          padding: 20px;
          background: var(--container-color);
          width: 70px;
          height: 70px;
          border-radius: 10px;
        }
      }

      .txt {
        padding: 20px 0;
        height: 130px;
        overflow: hidden;
      }

      .name {
        padding: 20px 0 10px;
        h3 {
          text-transform: capitalize;
          font-size: 15px;
        }
        p {
          text-transform: capitalize;
        }
      }

      .shape {
        position: absolute;
        height: 200px;
        width: 200px;
        bottom: -100px;
        right: -60px;
      }
    }
  }
}

@media (max-width: 600px) {
  .reviews .wrapper .box .shape {
    position: absolute;
    width: 150px;
    height: 150px;
    bottom: -75px;
    right: -60px;
    z-index: -1;
  }
}
