.nav {
  background: var(--bg-color-alt);
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  box-shadow: 0 2px 5px var(--shadow);
  z-index: 100;

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 0;
  }

  .logo h1 {
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 500;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      width: 10px;
      height: 10px;
      border-radius: 50%;
      background: var(--main-color);
      right: -11px;
      bottom: 10px;
    }
  }

  .action_btns {
    display: flex;
    align-items: center;
    gap: 100px;

    .theme {
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;

      span {
        font-size: 20px;
        display: flex;
        align-items: center;
        justify-content: center;

        &:first-child {
          display: block;
        }
        &:last-child {
          display: none;
        }
      }

      &.active {
        span:first-child {
          display: none;
        }
        span:last-child {
          display: block;
        }
      }
    }

    .back_arrow {
      cursor: pointer;
    }
  }
}

@media (max-width: 768px) {
  .nav .container {
    .logo h1 {
      font-size: 17px;

      &::before {
        width: 8px;
        height: 8px;
        bottom: 6px;
      }
    }

    .action_btns {
      gap: 50px;
    }
  }
}
