.detail_con {
  margin-top: 100px;
  padding-bottom: 50px;

  .img {
    height: 500px;
  }

  .txt_con {
    padding-top: 30px;

    h2 {
      text-transform: capitalize;
      font-size: 35px;
    }

    h3 {
      text-transform: capitalize;
      font-size: 15px;
      margin-top: 15px;
    }

    .txt {
      padding: 20px 0;
    }

    .btn {
      display: flex;
      align-items: center;
      gap: 20px;

      a {
        display: flex;
        align-items: center;
        gap: 15px;
        color: var(--white);
        border: 2px solid var(--border-color);
        padding: 15px 30px;
        text-transform: capitalize;
        span {
          display: flex;
          align-items: center;
          justify-content: center;
        }
        &:first-child {
          background: var(--main-color);
        }
      }
    }

    li {
      text-transform: capitalize;
      padding-top: 10px;
    }
  }
}

@media (max-width: 768px) {
  .detail_con {
    .img {
      height: 400px;
    }

    .txt_con h2 {
      font-size: 25px;
    }
  }
}
@media (max-width: 425px) {
  .detail_con {
    .img {
      height: 300px;
    }

    .txt_con {
      .btn {
        flex-direction: column;
        width: fit-content;
        align-items: unset;
        justify-content: left;
      }
    }
  }
}
